.doApp{
    padding-left: 1%;
    padding-top: 1%;
}
.btn btn-primary{
    margin-top: 2%;
}
.btn-warning {
    margin-left: 1%;
}
input {
    width: 100%;
    padding: 2px 5px;
    margin: 8px 0;
    box-sizing: border-box;
  }